<% provide(:title, 'Contact') %>
	<h1>Contact</h1>
	<p> Contact Otters through underwater mating call. Forgotten what ocean you're in? click:
		<a href="http://google.com/maps">Where are you now</a>.
			</p>