<div class="center hero-unit">
	<h1>Otters That Dance</h1>
	<h2>
		If you are not a dancing otter, or at the least a dancing furry creature, you will not be allowed to sign up.
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
 
 
	

