<footer class="footer">
	<small>
		<a href=http://media.tumblr.com/tumblr_lkh7kdIsSP1qcoaqg.jpg>Otter Madness</a>
		by Adam Goff
	</small>
	<nav>
		<ul>
			<li><%= link_to image_tag("otter!.png", alt: "Otter!"), 'http://video.nationalgeographic.com/video/kids/weird-wacky-kids/parry-gripp-kids/yawning-otter-kids/' %></li>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://scienceinseconds.com/cmsFiles/pageImages/Sea_otters_holding_hands.jpg">In Otter News</a></li>

		</ul>
	</nav>
		

</footer>